//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'
a#back-to-top.back-to-top(href="#top") Back to Top
footer
	ul.menu
		li
			a.uc(href="#") Contact Us
		li
			a.uc(href="#") Careers
		li
			a(href="#") Lipsum.com
	.img-wrapper
		img.responsive(width='100px' src='./images/js-logo.svg')
		img.responsive(width='100px' src='./images/js-logo.svg')
