//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'
header#top
	nav.sticky
		.flex-wrapper
			a.logo
				img.responsive(width='100px' src='./images/js-logo.svg')
			.main-nav.right
				ul.menu
					li
						a(href="#") link1
					li
						a(href="#") link2
					li
						a(href="#") link3
					li
						a(href="#") link4